<div class='container'>
	<table class='table'>
		<tr><td><p><%= link_to @users.find(1).first_name + ' ' + @users.find(1).last_name, @users.find(1) %>  Joined Harmonize</td></tr>
		<tr><td><p><%= link_to @users.find(2).first_name + ' ' + @users.find(2).last_name, @users.find(2) %>  Loaded a track today. Go Check it out</td></tr>
		<tr><td><p><%= link_to @users.find(3).first_name + ' ' + @users.find(3).last_name, @users.find(3) %>  Is looking for blues guitarists in Cupertino<button class='btn-xs btn-primary'>Reply</button></td></tr>
	</table>
</div>