<div class='container'>
	<table class='table'>
		<% @users.each do |user| %>
			<% user.instruments.each do |instrument| %>
				<% if instrument.instrument == 'Electric' %>
					<tr><td><%= user.first_name %></td></tr>
				<% end %>	
			<% end %>	
		<% end %>
	</table>
</div>