<div class='container'>
  <h1>My Messages</h1>
  <table class='table'>
    <% @messages.each do |message| %>
      <tr><td><%= link_to User.find(message.from_id).first_name + ' ' + User.find(message.from_id).last_name, User.find(message.from_id) %><br><span style='margin-left: 20px;'></span><%= message.description %></td><td></td><td><input type="button" class='btn btn-primary' value='Reply'></td></tr>
    <% end %>
  </table>
 </div> 

