<!-- Temporarily Hard Coded  -->

<div class='container'>
	<div class='row'>
		<div class='profile_image col-md-6'><%= image_tag "aaron.png" %></div>
		<div class='col-md-6'>
			<h1>Aaron Hevenstone</h1>
			<h3>Main Instrument(s)<br> Drumset, Acoustic Guitar</h3>
			<h4>Lives In San Francisco, CA</h4>
			<h4>Email: aaron@gmail.com</h4>
		</div>
		<% if @user.id == session[:user_id] %>
		<%= link_to "Edit Profile",edit_user_path(@user.id) %>
		<% end %>
	</div>
	<div class='row'>
		<div class='col-md-6'>
			<h2>Bio</h2>
			<p>Yo, I'm in a band called <a>Just Whale</a>. We used to play a few gigs around the Bay but lost a few members recently. Hit me up if you want to jam!</p>
			<h2>General Info</h2>
			<label for="in_band">Aaron is currently in a band</label>
			<label for="seeking">Seeking rythm guitarist, drummer, bass player</label>
			<label for="">Main Genres: Rock, Blues, Funk, Open to playing other genres</label>
			<label for="current_group">Current Band: <a>Just Whale</a></label>
			<h2>Experience As</h2>
			<h4>Drummer(6 years)</h4>
			<label>- Drummer for <a>Just Whale</a> (present)</label>
			<label>- Drummer for <a>King's Dragon</a> (2 years)</label>
			<label>- High School Drumline (4 years)</label>
			<h4>Acoustic Guitar(3 years)</h4>
			<label for="">- I pretty much just play acoustic guitar by myself but I want to jam with other people</label>
		</div>
		<div class='col-md-6'>
			<h2>Tracks</h2>
			<h4 for="">Just Whale</h4>
			<label for="">Jam at the park</label>
			<label for="date">2009</label>
			<audio controls></audio>
			<h4 for="">Acoustic song</h4>
			<label for="">Acoustic song a few years ago</label>
			<label for="date">2007</label>
			<audio controls></audio>
			<h2>Other Links</h2>
			<a href="">Just Whale Myspace</a>
			<br>
			<a href="">Rhapsody Page</a>
		</div>


	</div>
</div>