<!DOCTYPE html>
<html>
<head>
  <title>LAyout for the comments Controller</title>
  <%= stylesheet_link_tag    "comments" %>
  <%= javascript_include_tag "comments" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
