<h1>Add a New Comment</h1>

<form action="/comments" method="post">
	<input type="text" name="name" placeholder="name"/>
	<textarea name="description"></textarea>
	<input type="submit" value="submit a Comment" />
</form>
